/*
* Estilo do Site 
 */

/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background-color: #e3e3e3;
}

body::-webkit-scrollbar {
    width: 0;
}

.page {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* TEXTO e TITULOS */

a,
a:link,
a:visited,
a:active {
    text-decoration: none; 
    font-size: 0.895rem;
    font-weight: 700;
}

a,
a:link,
a:visited {
    color: #2d2d2d;
}

a:active,
a:hover {
    color: #D400AA;
}

p {
    font-size: 0.895rem;
    line-height: 1.3rem;
}

ul {
    padding: 0;
    padding-left: 25px;
}

li {
    font-size: 0.895rem;
    line-height: 1.5rem;
}

li:hover {
    color: #D400AA;
}

h1 {
    font-size: 1.36rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1.235rem;
    line-height: 1.5rem;
    color: #645b63;
}

h4 {
    font-size: 1.15rem;
}

h5 {
    font-size: 0.985rem;
    font-weight: 600;
}

h6 {
    font-size: 0.955rem;
    font-weight: 500;
}

i {
    font-size: 1.15rem;
    color: #D400AA;
}

strong {
    text-transform: uppercase;
    font-size: 0.875rem;
}

strong:hover {
    color: #D400AA;
}

/* HEADER */

#header {
    /* max-width: 1100px; */
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    background-color: #FFF;
}

/* HEADER NAV */

#header-nav {
    max-width: 1100px;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0 auto;
}

/* HEADER LOGO */

#header-logo {
    width: 118px;
    height: auto;
}

/* HEADER MENU */

.header-menu-abrir {
    width: auto;
    height: auto;
    padding: 0 20px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.header-menu-abrir li a{
    font-size: 1.1rem;
}

/* HEADER BUTTON */

.header-button {
    width: 32px;
    height: 32px;
    padding: 0;
    background: 0 none;
    border: 0 none;    
    position: absolute;
    right: 0;
    z-index: 3;
    display: none;
}

.header-button i {
    font-size: 1.6rem;
    color: #2d2d2d;
}

/* MAIN */

#main {
    max-width: 1100px;
    width: 100%;
    height: auto;
    padding: 0 20px;
    margin: 0 auto;
    display: block;
}

#main-container {
    width: 100%;
    height: auto;
    padding: 5px 0;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

#main-content {
    width: calc(70% - 12px);
    height: auto;
    padding: 5px 0;
    display: block;
}

#main-sidebar {
    width: calc(30% - 12px);
    height: auto;
    padding: 5px 0;
    display: block;
}

/* HEADER HEADER */

.main-header {
    width: calc(100% - 44px);
    height: auto;
    padding: 18px 22px;
    display: block;    
}

.main-barra {
    width: 50px;
    height: 3.5px;
    margin-top: 10px;
    display: block;
    background-color: #E580FF;
}

.main-header a {
    font-size: 0.925rem;
}

.main-link {
    text-align: right;
}

.main-icons {
    width: 100%;
    height: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
}

.main-icons li {
    width: 90px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 0.925rem;
}

.main-icons li .fa-brands {
    font-size: 2.5rem;
}

.main-contact {
    list-style: none;
    padding: 0;
}

#main-header-banner {
    width: 100%;
    min-height: 122px;
    background-image: url('../imagens/banner-rio.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#main-header-perfil {
    width: 130px;
    height: auto;
    margin-top: -80px;
    margin-left: 20px;
    border: 4px solid #FFF;
    border-radius: 50%;
    display: block;
}

.main-background {
    width: 100%;
    height: auto;
    margin: 20px 0;
    background-color: #FFF;
    border: 1px solid #9d9d9d;
    border-radius: 12px;
}

#sobre p {
    text-align: justify;
}


/* FOOTER */

#footer {
    max-width: 1100px;
    width: 100%;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;    
}

#footer a {
    font-size: 1.4rem;
}

/* MEDIAS QUERIES */

@media(max-width:1200px) {
    #main-content {
        width: calc(65% - 12px);
    }

    #main-sidebar {
        width: calc(35% - 12px);
    } 

    #main-sobre-itens {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }    
}

@media(max-width:992px) {
    h2 {
        font-size: 1.25rem;
    }

    #main-content {
        width: calc(58% - 12px);
    }

    #main-sidebar {
        width: calc(43% - 12px);
    }

    .main-icons li .fa-brands {
        font-size: 2rem;
    }

    #main-header-banner {
        min-height: 110px;
    }    
}

@media(max-width:768px) {
    #main-content,
    #main-sidebar {
        width: calc(100% - 12px);
        margin: 0 auto;
    }
}

@media(max-width:576px) {

    h1 {
        font-size: 1.42rem;
    }

    h2 {
        font-size: 1.25rem;
    }

    #header,
    #header-nav,
    #main,
    #footer {
        padding-left: 2px;
        padding-right: 2px;
    }

    .header-button-abrir {
        display: block;
    }

    .header-button-fechar {
        display: block;
    }

    .header-button-inativo {
        display: none;
    }

    .header-menu-inativo {
        display: none;
    }

    .header-menu-ativo {
        width: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #FFF;
        border: 1px solid #b7b7b7;
        position: absolute;
        top: 37px;
        left: 2px;
        right: 0;
        margin: 0 auto;
        border-radius: 8px;
    }

    #header-menu li:active,
    #header-menu li:hover {
        width: 100%;
        text-align: center;
    }

    #header-menu li a {
        color: #2d2d2d;
    }

    #header-menu li a:hover {
        color: #e8475d;
    }
    
    #main-container {
        gap: 0;
    }

    #footer {
        gap: 10px;
        justify-content: center;
    }

    #main-header-perfil {
        width: 120px;
        margin-top: -80px;
    }

    #main-header-banner {
        min-height: 100px;
    }

    #sobre p {
        text-align: left;
    }
}